 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/vendors/jquery-1.11.0.js" | prepend: site.url }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/vendors/bootstrap.min.js" | prepend: site.url }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/vendors/jquery.easing.min.js" | prepend: site.url }}"></script>
    <script src="{{ "/js/vendors/classie.js" | prepend: site.url }}"></script>
    <script src="{{ "/js/vendors/cbpAnimatedHeader.js" | prepend: site.url }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/vendors/jqBootstrapValidation.js" | prepend: site.url }}"></script>
    <script src="{{ "/js/vendors/contact_me.js" | prepend: site.url }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/vendors/agency.js" | prepend: site.url }}"></script>
