
<section class="loading demo-1">
	<div class="deco deco--bg"></div>
	<div class="deco deco--shape deco--shape-hor deco--shape-1"></div>
	<div class="deco deco--shape deco--shape-hor deco--shape-2"></div>
	<div class="slideshow">
		<div class="slide">
			<div class="slide__image" style="background-image:url(img/se/1.jpg)"></div>
			<h2 class="slide__title">Masupitami</h2>
		</div>
		<div class="slide">
			<div class="slide__image slide__image--hidden" style="background-image:url(img/se/2.jpg)"></div>
			<h2 class="slide__title slide__title--hidden">Waldorfian</h2>
		</div>
		<div class="slide">
			<div class="slide__image slide__image--hidden" style="background-image:url(img/se/3.jpg)"></div>
			<h2 class="slide__title slide__title--hidden">Hindsberg</h2>
		</div>
		<div class="slide">
			<div class="slide__image slide__image--hidden" style="background-image:url(img/se/4.jpg)"></div>
			<h2 class="slide__title slide__title--hidden">Kitschmas</h2>
		</div>
		<div class="slide">
			<div class="slide__image slide__image--hidden" style="background-image:url(img/se/5.jpg)"></div>
			<h2 class="slide__title slide__title--hidden">Friendlein</h2>
		</div>
		<nav class="nav">
			<button class="nav__button nav__button--previous">Previous</button>
			<button class="nav__button nav__button--next">Next</button>
		</nav>
	</div>
</section>
